.select {
  width: 100%;
  border: 2px solid var(--white);
  border-radius: var(--border-radius);
  background: transparent;
  font-size: 18px;
  color: var(--white);
  padding: 14px 20px;
  display: flex;

  -webkit-appearance: none;
  -moz-appearance: none;
}
