.box {
  border-radius: var(--round-radius);
  color:var(--dark-blue);
  background: var(--blue);
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  flex: 1 1 100%;
  cursor: pointer;
  font-weight: bold;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  border:none;
}

.box:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.link {
  flex: 1 1 100%;
}

.link + .link {
  margin-top: 35px;
}
