@keyframes tick {
  0% {
    transform: scale(1.1);
    text-shadow: 0 0px 8px rgb(46, 12, 90);
  }
  40% {
    text-shadow: none;
  }
}

@keyframes progress {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: -709.999;
  }
}

.timer {
  position: relative;
  border-radius: 3px;
}

.time {
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -15px 0 0 -12px;
  text-align: center;
  width: 25px;
  animation: tick 1s ease-in var(--time);
}

.progress {
  transform: rotate(-90deg);
  stroke-width: 12px;
}

.progress__meter {
  fill: rgba(255, 255, 255, 0.3);
}

.progress__value {
  fill: none;
  /* 2 * PIE * R = Array */
  stroke-dasharray: 709.999;
  animation: progress calc(var(--time) * 1s) linear forwards;
  stroke: rgba(255, 252, 255, 1);
  stroke-linecap: round;
}
