@keyframes tick {
  0% {
    /* transform: scale(1.1); */
    text-shadow: 0 0px 8px var(--pink);
  }
  40% {
    text-shadow: none;
  }
}

@keyframes progress {
  from {
    stroke-dashoffset: 0;
  }
  97% {
    stroke-linecap: round;
  }
  to {
    stroke-dashoffset: -354.999;
    stroke-linecap: butt;
  }
}

.container {
  position: relative;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  line-height: 50px;
}

.time {
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  width: 25px;
  animation: tick 1s ease-in var(--time);
}

.timer {
  transform: rotate(0deg);
  stroke-width: 12px;
  position: absolute;
  z-index: -10;
}

.timer__background {
  opacity: 50%;
  fill:  var(--dark-blue);
}

.timer__left {
  fill: none;
  /* 2 * PIE * R = Array */
  stroke-dasharray: 354.999;
  /* stroke-dasharray: 709.999; */
  animation: progress calc(var(--time) * 1s) linear forwards;
  stroke: var(--dark-blue);
  stroke-linecap: round;
}
