.container {
  width: 100%;
  flex: 1 1 100%;
}

.container + .container {
  margin-top: 35px;
}

.label {
  width: 100%;
  border: 2px solid var(--white);
  border-radius: var(--border-radius);
  font-size: 18px;
  color: var(--white);
  padding: 10px 20px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.checkbox {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.checkbox:checked + .label {
  color: var(--blue);
  border-color: var(--blue);
}

.icon {
  opacity: 0;
}

.checkbox:checked + .label > .icon {
  opacity: 1;
}

.correct .label {
  background: #30d065;
}

.incorrect .label {
  background: #d03053;
}

.correct .label, .incorrect .label {
  border-color: var(--white)!important;
  color: var(--white)!important;
}

.correct .checkbox:checked + .label > .icon path,
.incorrect .checkbox:checked + .label > .icon path {
  fill: var(--white);
}

.correct .checkbox:checked + .label > .icon circle,
.incorrect .checkbox:checked + .label > .icon circle {
  stroke: var(--white);
}

